*.iml
.idea/
.ipr
.iws
*~
~*
*.diff
*.patch
*.bak
.project
.*proj
.svn
*.swp
*.swo
*.log
*.log.*
*.json.gzip
.vscode
.DS_Store
.babelrc.js
.editorconfig
jsconfig.json
Thumbs.db
node_modules
package-lock.json
test
